body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(109, 160, 154);
}
.screen-el {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}
.grid-change {
    border: 1px solid #ccc;
    width: 18px;
    height: 18px;
}

.grid-button {
    opacity: 0;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
}

.grid-button-img {
    margin: 0px 10px 0px -32px;
    width: 30px;
    height: 30px;
    background-color:none;
}

.grid-button-img-activ {
    background-color: gold;
}

.block-main-el {
    min-width: 30px;
    min-height: 30px;
    margin: 0px 10px;
    cursor: pointer;
}

.block-main-clear {
    width: 35px;
    height: 35px;
    margin: 0px 15px 0px 40px;
    cursor: pointer;
}

.block-main-highlight {
    width: 40px;
    height: 40px;
    margin: 0px 5px;
}

.block-clear-highlight {
    width: 45px;
    height: 45px;
    margin: 0px 10px 0px 35px;
}

.block-main-set {
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px auto;
    min-width: 800px;
}

.screen-set {
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    align-items: center;
    width: 1200px;
    background-color: rgb(124, 176, 170);
}

.screen-main-set{
    align-items: center;
    padding: 0px 20px;
}

.block-main-reload {
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.block-main-reload:hover {
    width: 40px;
    height: 40px;
    margin: 0px 5px 0px 5px;
}

.download-link {
    background-image: url("../img/download.svg");
    background-repeat: no-repeat;
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 10px;
}

.download-link:hover {
    width: 40px;
    height: 40px;
    margin: 0px 5px 0px 5px;
}